<%= form_tag do %>
  <div>
    <%= hidden_field_tag :email, params[:email] %>
    <%= label_tag :password, 'Password:' %>
    <%= password_field_tag :password %>
  </div>

  <div>
    <%= label_tag :password_confirmation, 'Password_confirmation:' %>
    <%= password_field_tag :password_confirmation%>
  </div>

  <div>
    <%= submit_tag "Sumit" %> 
  </div>

<% end %>
